// This file is used to ignore files and directories in the repository.
*


!/.gitignore
!/LICENSE
!/README.md
!/Logs/
!/Maps/
!/Source/

.vs/
*.user
*.suo
*.tmp
*.obj
*.log
*.cache
*.pdb
*.dll
*.exe
bin/
obj/
